#container {
    background-image: url(../images/purpleflower.jpg);
    max-width: 1024px;
    padding: 10px;
    margin: auto;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    background-color: aqua;
  }
  p{
    font-family: "Raleway",sans-serif;
    color: rgb(250, 250, 250);
    font-size: 140%;
  }
  h1{
    font-family: "Raleway",sans-serif;
    color: rgb(0, 0, 0);
    font-size: 300%;
    background-color: aliceblue;

}
.header{
  justify-content: space-between;
  text-align: center;
  display: flex;
  background-size: cover;
}
  .box1{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 30%;
    display: flex;
    align-items: flex-start;
  }
  .title{
    width: 70%;
    margin-top: 5%;
  }
  .menu{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px 60px;
    flex-direction: column;
    background-color: rgba(170, 144, 170, 0.7);
  
  }
  .box2{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgb(174, 0, 255), rgb(98, 0, 255));
    flex-direction: column;
  }
  .box3{
    display: flex;
    justify-content: space-between;
  }
  .main{
  
    margin-left: 10px;
    width: 50%;
  }
  .right{
    border: solid 3px purple;
    width: 50%;
  }
  .footer{
    text-align: center;
    padding: 8px;
    background-color: rgba(170, 144, 170, 0.4);
  }
  .footer a{
    color:aliceblue;
  }
  @media screen and (max-width: 1024px){
    .box3{
      display: flex;
      flex-direction: column;
    }
    .main{
      width: 100%;
    }
    .right{
      width: 100%;
    }
  }
  @media screen and (max-width: 600px){
    .box1{
      display:contents;
    }
    .menu{
      display: flex;
      text-align: center;
      justify-content: column;
      padding: 50px 60px;
      flex-direction: column;
      background-color: rgba(170, 144, 170, 0.7);
    
    }
    .box3{
      display: flex;
      flex-direction: column;
    }
    .main{
      width: 100%;
    }
    .right{
      width: 100%;
    }
  }