.item1 { grid-area: logo; }
.item2 { grid-area: phone; }
.item3 { grid-area: menu; }
.item4 { grid-area: slideshow; }
.item5 { grid-area: feat1; }
.item6 { grid-area: feat2; }
.item7 { grid-area: feat3; }
.item8 { grid-area: feat4; }
.item9 { grid-area: sidebar; }
.item10 { grid-area: textcontent; }
.item11 { grid-area: footer; }

.grid-container {
    max-width: 1024px;
    margin: auto;
  display: grid;
  grid-template-areas:
    'logo x phone phone'
    'menu menu menu menu '
    'slideshow slideshow slideshow slideshow '
    'feat1 feat2 feat3 feat4'
    'sidebar sidebar textcontent textcontent'
    'footer footer footer footer';
    grid-template-rows: 120px 80px 260px 160px 360px 80px;


    
    
    
    

  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item2{
  margin-top: 30px;
  height: 20px;
}