#toppic {
    height: 500px;
    background-image: url(../images/lofoten1\(accommodation\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#bg-color {
    background-image: linear-gradient(#FFFFFF, #5BBCBC);
}


    .box{
        text-align: center;
        width: 100%;
    }


    .box1{
        width: 100%;
    }

    .picture{
        display: flex;
        width: 100%;
    }

    .left{
        width: 70%;
    }

    .right{
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (max-width: 1180px){
        .top{
            margin-bottom: 50px;
        }

        #long{
            width: 50%;
        }

        
    }

    @media screen and (max-width: 770px){
        #top{
            display: none;
        }

        #top1{
            display: none;
        }

        #bottom{
            display: none;
        }

        #bottom1{
            display: none;
        }

    }


    @media screen and (max-width: 680px){
        .box1{
            width: 100%;
        }

        .box1 h3{
            text-align: center;
        }

        .picture{
            display: flex;
            flex-direction: column;
        }

        .left{
            width: 100%;
        }

        .right{
            width: 100%;
        }

        #top{
            display: none;
        }

        #top1{
            display: none;
        }

        #bottom{
            display: none;
        }

        #bottom1{
            display: none;
        }

        #long{
            width: 60%;
        }
    }


    .box2{
        padding: 15px;
        display: flex;  
        width: 100%;
    }

    .content{
        margin: auto;
        width: 50%;
    }

    .content p{
        padding: 20px;
    }

    .button{
        display: flex;
        justify-content: center;
    }

    .button a{
        text-decoration: none;
        color: black;
    }

    .button a:hover{
        color: white;
    }

    .picture1{
        width: 50%;
    }
    #center{
        display: flex;
        justify-content: center;
    }

    #center1{
        display: flex;
        justify-content: center;
    }

    #center2{
        display: flex;
        justify-content: center;
    }

    #center3{
        display: flex;
        justify-content: center;
    }


    @media screen and (max-width: 680px){
        .box2{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        .content{
            width: 100%;
        }
        .button{
            display: flex;
            justify-content: flex-start;
        }
        
        .picture1{
            width: 100%;
        }

    }


    .box3{
        width: 100%;
    }

    .image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box3 h3{
        padding: 10px;
        text-align: end;
    }

@media screen and (max-width: 680px){
    

    .box3{
        width: 100%;
    }

    .box3 h3{
        text-align: center;
    }
}

    .box4{
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .box4 h3{
        text-align: center;
    }

    .picture2{
        display: flex;
        align-items: center;
        width: 25%;
    }

    .picture3{
        display: flex;
        align-items: center;
        width: 25%;
    }

    .content1{
        width: 25%;
    }

    .content1 h3{
        text-align: center;
    }

    @media screen and (max-width: 680px){
        .box4{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .picture2{
            width: 100%;
        }

        .picture3{
            display: none;
        }

        .content1{
            width: 100%;
        }
    }
    
    @media screen and (max-width: 680px){
       #toppic h1{
        font-size: 40px;

       }
    }

    @media screen and (max-width: 1180px){
        #toppic h1{
         font-size: 80px;
 
        }
     }