h1 {
    font-family: 'Mochiy Pop One';
}

h3 {
    font-family: 'Mochiy Pop One';
}

p { 
    font-weight: 600;
    font-size: 32px;
    color: #B57272;
    font-family: 'Quicksand';
}

/* Contact Us AND Submit Button*/
.orange-button {
    font-family: 'Ropa Sans', sans-serif;
    /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4625 /* fill: %23FF4625; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
}

.orange-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
}

.orange-button:before {
    content: "";
    position: absolute;
    background-color: #FF5403;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.orange-button:hover:before {
    background-color: white;
}

.orange-button:hover:after {
    background-color: white;
}

.orange-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
    /* opacity: 0.3; */
}

.button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
    /* opacity: 0.3; */
    z-index: 0;
}

.shape {
    fill: #0E1822;
}

/* Contact Us AND Submit Button*/

/*learn more button*/
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;

    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/*learn more button*/

#toppic {
    height: 500px;
    background-image: url(../images/lofoten1\(accommodation\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/
#bg-color {
    background-image: linear-gradient(#FFFFFF, #5BBCBC);
}

/*box*/
    .box{
        padding: 10px;
        text-align: center;
    }

/*box1*/
    .box1{
        width: 100%;
    }

    .picture{
        display: flex;
        width: 100%;
    }

    .left{
        width: 50%;
    }

    .right{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .top{
        margin-bottom:20px ;
        width: 50%;
    }

    .bottom{
        width: 50%;
    }

    @media screen and (max-width: 680px){
        p{
            font-weight: 600;
            font-size: 20px;
            color: #B57272;
            font-family: 'Quicksand';  
        }

        .box1{
            width: 100%;
        }

        .box1 h3{
            text-align: center;
        }

        .picture{
            display: flex;
            flex-direction: column;
        }

        .left{
            width: 100%;
        }

        .right{
            width: 100%;
        }

        .top{
            width: 100%;
        }
        .bottom{
            display: none;
        }
    }

/*box1*/

/*box2*/
    .box2{
        padding: 15px;
        display: flex;
        width: 100%;
    }

    .content{
        text-align: center;
        width: 50%;
    }

    .button{
        display: flex;
        justify-content: center;
    }

    .button a{
        text-decoration: none;
        color: black;
    }

    .button a:hover{
        color: white;
    }

    .picture1{
        width: 50%;
    }
    #center{
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 680px){
        .box2{
            width: 100%;
        }
        .content{
            width: 100%;
        }
        .button{
            display: flex;
            justify-content: flex-start;
        }
        
        .picture1{
            display: none;
        }

    }

/*box2*/

/*box3*/
    .box3 h3{
        text-align: end;
    }

@media screen and (max-width: 680px){
    .box3{
        width: 100%;
    }

    .box3 h3{
        text-align: center;
    }
}
/*box3*/

/*box4*/
    .box4{
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .box4 h3{
        text-align: center;
    }

    .picture2{
        display: flex;
        align-items: center;
        width: 25%;
    }

    .picture3{
        display: flex;
        align-items: center;
        width: 25%;
    }

    .content1{
        width: 25%;
    }

    @media screen and (max-width: 680px){
        .box4{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .picture2{
            width: 100%;
        }

        .picture3{
            display: none;
        }

        .content1{
            width: 100%;
        }
    }
    
/*box4*/