

/*learn more button*/

#toppic {
    height: 600px;
    background-image: url(../images/activities/hotel-union-oye-slogen-saksa_epi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}





        .carousel-item img {
            object-fit: cover !important;
        }
 